@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

#info {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 1rem;

	display: flex;
	gap: 1rem;

	& > button {
		font-size: 2rem;
		color: black;

		&:hover {
			color: white;
		}
	}
}
